.profilePage-container {
  width: 100%;
  height: 100%;
  background: #fafafa;
}
.profile-section-container {
  display: flex;
  justify-content: center;
  min-height: 90vh;
}
.profile-content-container {
  display: flex;
  flex-direction: column;
  width: 75%;
}
.profile-details-container {
  margin-top: 30px;
}
.profile-pic {
  height: 180px;
  width: 180px;
  border-radius: 90px;
}
.profile-details-container {
  display: flex;
  align-items: center;
}
.profile-details-card {
  margin-left: 40px;
}
.profile-user-name {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 32px;
  color: #262626;
  padding: 0px;
  margin: 0px;
}
.user-count-card {
  display: flex;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 0px;
}
.user-count-details {
  padding-right: 34px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #262626;
}
.count {
  padding-right: 5px;
  font-weight: 500;
}
.user-name-bio {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #262626;
  padding-top: 0px;
  margin-top: 0px;
}
.user-bio {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #262626;
}
.user-story-container {
  padding: 0px;
  list-style-type: none;
  margin-top: 40px;
  display: flex;
  align-items: center;
}
.user-story-card {
  border: 1px solid #dbdbdb;
  box-sizing: border-box;
  height: 88px;
  width: 88px;
  border-radius: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}
.user-story {
  height: 80px;
  width: 80px;
  border-radius: 40px;
}
.user-profile-line {
  border: 0.5px solid #c6c6c8;
  margin-top: 10px;
  margin-bottom: 10px;
}
.post-card {
  display: flex;
  align-items: center;
}
.post-card-icon {
  font-size: 20px;
}

.posts-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #262626;
  padding-left: 10px;
}
.post-item-container {
  padding-left: 0px;
  margin-top: 0px;
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.profile-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.profile-failure-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.profile-failure-card {
  text-align: center;
}
.profile-failure-view-img {
  height: 240px;
}

.profile-error-msg {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
  color: #262626;
}

.profile-failure-btn {
  width: 102px;
  height: 36px;
  background: #4094ef;
  border-radius: 8px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 16px;
  color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
}
.no-post-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.no-post-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.no-post-icon {
  font-size: 46px;
}
.No-post-msg {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 48px;
  color: #262626;
  margin-top: 12px;
}
.no-post-icon-card {
  height: 70px;
  width: 70px;
  border: 2px solid #262626;
  border-radius: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
